<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1><%= currentUser.username%></h1>
        <h2>city: <%=currentUser.city%></h2>
    </div>
</div>


<%- include("../partials/footer") %>